@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*@font-face {
    font-family: 'Tango Sans';
    src: url('fonts/TangoSans.ttf');
}
@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler_Medium.otf');
}
@font-face {
    font-family: 'Mermaid';
    src: url('fonts/Mermaid1001.ttf');
}*/

:root {
    --theme-color-1: #2d78da;
    --theme-color-2: #508af7;

    --sections-height: 100px;

    --slist-separation: 20px;
}

body {
    font-family: 'Lora';
    font-size: 22px;
    font-weight: 600;
}

@media screen and (max-height: 950px) {
    :root {
        --sections-height: 10vh;
    }
}

#sections {
    height: var(--sections-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--theme-color-1);
    background-image: radial-gradient(ellipse at bottom, #fffbc8, #fffd6c);
    display: flex;
    justify-content: center;

    box-shadow: 0px 4px 3px #0000005a;

    z-index: 100;

    font-size: 22px;
}

.section_list {
    height: calc(var(--sections-height) - var(--sections-height) * 20 / 100);
    width: fit-content;
    margin-top: calc(var(--sections-height) * 10 / 100);
}

#slist_left {
    margin-right: var(--slist-separation);
}  
#slist_right {
    margin-left: var(--slist-separation);
}

#slist_left ul li {
    margin-right: 5px;
}
#slist_right ul li {
    margin-left: 5px;
}

.section_list ul li {
    margin: 0;
    width: 200px;
    height: 100%;
}

.section_list ul li:first-child a div {
    --section-button-border-radius: 40px;

    border-top-left-radius: var(--section-button-border-radius);
    border-bottom-left-radius: var(--section-button-border-radius);
}
.section_list ul li:last-child a div {
    --section-button-border-radius: 40px;

    border-top-right-radius: var(--section-button-border-radius);
    border-bottom-right-radius: var(--section-button-border-radius);
}

#logo {
    --ppsl: 10px;

    height: calc(var(--sections-height) + var(--ppsl) * 2);
    width: calc(var(--sections-height) + var(--ppsl) * 2);
    position: relative;
    top: calc(var(--ppsl) * -0.5);
    background-color: #faf9df;
    border-radius: 50%;
    border: calc(var(--sections-height) * 5 / 100) #ccc79b solid;

    margin-left: 5px;
    margin-right: 5px;

    /*box-shadow: 0px 5px 5px #0000009a;*/

    transition: cubic-bezier(.37,1.08,.37,.87) 0.2s;
    transition-property: margin, height, width, top, box-shadow;
}

#logo:hover {
    margin-left: calc(-10px + var(--ppsl));
    margin-right: calc(-10px + var(--ppsl));
    height: calc(var(--sections-height) + var(--ppsl) * 2 + 10px);
    width: calc(var(--sections-height) + var(--ppsl) * 2 + 10px);
    top: calc(var(--ppsl) * -0.5 - 2px);
    /*box-shadow: 0px 8px 7px #0000009a;*/
}

#sections ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 50%;
    padding: 0;
    height: 100%;
    width: fit-content;
    transform: translate(-50%);
}

.section_list ul li a div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: ease 0.2s;
    transition-property: background-color, box-shadow, top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;

    box-shadow: 0px 0px 0px transparent;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    /*-webkit-text-stroke: black 4px;
    color: white;
    paint-order: stroke fill;/*/
    color: black;
    /**/
}

.section_list ul li a div:hover, .alreadyselected {
    background-color: white !important;
    box-shadow: 0px 3px 3px #0000009a !important;
    top: -2px !important;
}


.section_list ul li a {
    text-decoration: none;
}

#main {
    position: absolute;
    top: var(--sections-height);
    left: 0;
    height: fit-content;
    width: 100%;
    z-index: 0;
}

#main h1 {
    text-align: center;
    font-size: calc(var(--sections-height) * 60 / 100);
    margin-top: calc(var(--sections-height) * 25 / 100);
    letter-spacing: calc(var(--sections-height) * 3 / 100);
}

#main h2 {
    text-align: center;
    font-size: calc(var(--sections-height) * 30 / 100);
    margin-top: calc(var(--sections-height) * -45 / 100);
    font-weight: 600;
}

.imgcontainer {
    overflow: hidden;
    margin: 0;
    /*top: calc(var(--sections-height) * 150 / 100);
    right: calc(50% + var(--sections-height) * 250 / 100);*/
    border-radius: calc(var(--sections-height) * 20 / 100);
    width: calc(var(--sections-height) * 325 / 100);
}
.imgcontainer img {
    position: relative;
    border-radius: calc(var(--sections-height) * 15 / 100);
}

#info {
    /*top: calc(var(--sections-height) * 125 / 100);
    left: calc(50% - var(--sections-height) * 220 / 100);*/
    width: calc(var(--sections-height) * 800 / 100);
    margin-left: calc(var(--sections-height) * 30 / 100);
}

#branding {
    position: absolute;
    top: calc(var(--sections-height) * 15 / 100);
    left: calc(var(--sections-height) * 25 / 100);
    color: #868686;
    font-size: calc(var(--sections-height) * 15 / 100);
}
#branding span {
    color: rgb(85, 85, 85);
}

.black {
    color: black;
}

#content {
    position: absolute;
    top: calc(var(--sections-height) * 150 / 100);
    width: calc(var(--sections-height) * (325 + 30 + 800) / 100);
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /*align-items: center;*/
    background-image: radial-gradient(ellipse at bottom left, #9dbae7, #adf3ff);
    padding: calc(var(--sections-height) * 50 / 100);
    border: calc(var(--sections-height) * 6 / 100) #95b3ce solid;
    border-radius: calc(var(--sections-height) * 15 / 100);
    flex-wrap: wrap;

    font-size: calc(var(--sections-height) * 22 / 100);
    color: #313131;
    line-height: calc(var(--sections-height) * 35 / 100);
}

.break {
    flex-basis: 100%;
    height: 0;
}

#moreinfo ul {
    margin-top: calc(var(--sections-height) * 5 / 100);
    margin-bottom: 0;
    padding-left: calc(var(--sections-height) * 40 / 100);
}